@use '../../App.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cv-preview {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        color: App.$primary-color;
        text-decoration: underline;
        font-weight: bold;
        font-style: italic;
  
        :hover {
          scale: 1.5;
        }
    }
}
