.logo-container {
  z-index: 0;
  width: 400px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 10%;
  bottom: 0;
  left: auto;
  margin: auto;
  // background-color: aliceblue;
  opacity: 0;

  // svg {
  //   width: 100%;
  //   height: auto;
  //   bottom: 0;
  //   transform: rotateZ(30deg) !important;
  // }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

// .svg-container {
//   stroke: #ffd700;
//   stroke-width: 10px;
// }

@media only screen and (max-width: 1400px) {
  .logo-container {
    right: 5%;
  }
}

@media only screen and (max-width: 1280px) {
  .logo-container {
    right: 2%;
    width: 30%;
    height: 65%;
    // border: 2px solid black;
  }
}

@media only screen and (max-width: 1024px) {
  .logo-container {
    right: 1%;
    width: 34%;
    height: 62%;
  }
}

@media only screen and (max-width: 992px) {
  .logo-container {
    width: 360px;
  }
}
