.logo-container {
  z-index: 0;
  width: 400px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 10%;
  bottom: 0;
  left: auto;
  margin: auto;
  background-color: aliceblue;
  opacity: 0;

  // svg {
  //   width: 100%;
  //   height: auto;
  //   bottom: 0;
  //   transform: rotateZ(30deg) !important;
  // }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    // transform: rotateZ(30deg);
    z-index: 1;
  }
}

// .svg-container {
//   stroke: #ffd700;
//   stroke-width: 10px;
// }

@media only screen and (max-width: 1400px) {
  .logo-container {
    right: 5%;
  }
}

@media only screen and (max-width: 1110px) {
  .logo-container {
    right: 2%;
    width: 380px;
    // height: auto;
  }
}

// @media (max-width: 1055px) {
//   .logo-container {
//     right: 0.5%;
//   }
// }

@media only screen and (max-width: 1024px) {
  .logo-container {
    right: 1%;
    width: 370px;
  }
}

@media only screen and (max-width: 992px) {
  .logo-container {
    width: 360px;
  }
}
