@use '../../App.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;

  .text-zone {
    // position: relative;
    // left: 12%;
    // top: 50%;
    // Dead centre
    // transform: translateY(-50%);
    width: 58%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    // border: 2px solid #FFF;
    padding-left: 1.5vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    justify-content: space-evenly;
    // align-items: center;

    .tz-c1 {
      // border: 2px solid #fff;
      display: flex;
      flex-direction: column;
      gap: 1vh;
      justify-content: space-between;

      h1 {
        color: App.$text-primary-color;
        font-size: 6vh;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before {
          content: '<h1>';
          font-family: 'La Belle Aurore';
          color: App.$primary-color;
          font-size: 2vw;
          position: relative;
          // left: 2%;
          // margin-top: -1vh;
          // top: 10%;
          opacity: 0.6;
          margin-right: 2%;
        }

        &::after {
          content: '</h1>';
          font-family: 'La Belle Aurore';
          color: App.$primary-color;
          font-size: 2vw;
          position: relative;
          margin-left: 2%;
          animation: fadeIn 1s 1.7s backwards;
          opacity: 0.6;
        }

        img {
          width: auto;
          margin-left: 1vw;
          opacity: 0;
          height: 8vh;
          animation: rotateIn 1s linear both;
          animation-delay: 1.4s;
        }
      }

      .smaller {
        font-size: 4vh;
      }
    }

    h2 {
      color: App.$secondary-color;
      margin-top: 20px;
      font-weight: 500;
      font-size: 2.5vh;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
      color: App.$primary-color;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px;
      border: 1px solid App.$primary-color;
      margin-top: 25px;
      float: left;
      animation: fadeIn 1s 1.8s backwards;
      white-space: nowrap;
      width: 140px;
      text-align: center;

      &:hover {
        background: App.$primary-color;
        color: App.$extra-color;
      }
    }
  }
}

// @media only screen and (max-width: 1400px) {
//   .home-page {
//     // gap: 4vw;
//     .text-zone {
//       // width: 51%;
//       // border: 2px solid yellow;
//     }
//   }
// }

// @media only screen and (max-width: 992px) {
//   .home-page {
//     .text-zone {
//       left: 3%;
//       width: 60%;
//     }
//   }
// }

// @media only screen and (max-width: 886px) {
//   .home-page {
//     .text-zone {
//       right: 3%;
//       width: 90%;
//       // border: 10px solid blue;
//       // margin: auto;
//     }
//   }

//   .logo-container {
//     filter: brightness(50%);
//     // background: rgba($color: App.$primary-dark-color2, $alpha: 0.5);
//     // display: none;
//   }
// }

@media only screen and (max-width: 700px) {
  .home-page {
    height: 100%;
    flex-direction: row-reverse;
    gap: 0vw;
    justify-content: center;
    overflow: scroll;
    // border: 2px solid aquamarine;
    .text-zone {
      width: 70%;
      height: auto;
      overflow: hidden;
      justify-content: center;
      // overflow-y: scroll;
      .tz-c1 {
        h1 {
          font-size: 4vh;

          img {
            height: 4vh;
          }
        }
        .smaller {
          font-size: 3vh;
        }
        h1::before {
          left: 38%;
        }
      }
      h2 {
        font-size: 2vh;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .home-page {
    // border: 2px solid aquamarine;
    display: inline-block;
    // align-items: center;
    padding: 1vh 1vw 0vh;
    // margin: auto;
    .text-zone {
      width: 100%;
      // margin: auto;
      .tz-c1 {
        h1 {
          font-size: 5vh;

          img {
            height: 5vh;
          }
        }
        .smaller {
          font-size: 4vh;
        }
        h1::before {
          left: 2%;
        }
      }
      h2 {
        font-size: 2.3vh;
      }
    }
    // .logo-container {
    //   height: 60vw;
    //   width: 50vw;
    //   align-self: center;
    //   margin: 1vh auto;
    // }
  }
}

@media only screen and (max-width: 376px) {
  .home-page {
    .text-zone {
      .tz-c1 {
        h1 {
          font-size: 4vh;

          img {
            height: 4vh;
          }
        }
        .smaller {
          font-size: 3vh;
        }
      }
      h2 {
        font-size: 2vh;
      }
    }
  }
}

// @media only screen and (max-width: 359px) {
//   .home-page {
//     .text-zone {
//       .tz-c1 {
//         h1 {
//           font-size: 3.6vh;

//           img {
//             height: 3.6vh;
//           }
//         }
//         .smaller {
//           font-size: 2.3vh;
//         }
//       }
//       h2 {
//         font-size: 1.3vh;
//       }
//     }
//   }
// }

@media only screen and (max-width: 281px) {
  .home-page {
    .text-zone {
      .tz-c1 {
        h1 {
          font-size: 3vh;

          img {
            height: 3vh;
          }
        }
        .smaller {
          font-size: 2vh;
        }
      }
      h2 {
        font-size: 1.8vh;
      }
    }
  }
}
