@use '../../App.scss';

.coming_soon_body {
  position: relative;
  // margin: auto;
  width: 75vw;
  // min-height: 15vh; /* Set a minimum height */
  // max-height: 70vh; /* Set a maximum height */
  background-color: App.$extra-color;
  display: flex;
  text-align: center;
  padding: 1vh;

  h2 {
    margin: auto;
    font-size: 3vw;
    font-weight: 600;
    animation: lights 5s 750ms linear infinite;
  }
}

.p_section {
  // margin: 0.7vh auto 0 auto;
  width: 75vw;
  background-color: aliceblue;
  padding: 1vh;
  font-size: 2vw;
  
  ul {
    list-style: none;

    li {
      // color: App.$primary-dark-color;
      a {
        color: App.$primary-dark-color2;
        text-decoration: none;
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        transition: all 0.3s ease-in-out;
      }
      
      a:before{
        content: '';
        background: #54b3d6;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;

      }
      
      a:hover {
       background-position: 0;
       background-image: linear-gradient(
          to right,
          #54b3d6,
          #54b3d6 50%,
          #000 50%
        );
        -webkit-background-clip: text;
        background-clip: to-upper-case($string: text);
        -webkit-text-fill-color: transparent;
      }
      
      a:hover::before{
        width: 100%;
      }
    }
  }
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

@media (max-width: 730px) {
  .coming_soon_body{
    height: 15vh;
  }
}

@media (max-width: 620px) {
  .p_section {
    font-size: 1.8rem;
  }
}

@media (max-width: 560px) {
  .p_section {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  .p_section {
    font-size: 1.4rem;
  }
}

@media (max-width: 440px) {
  .p_section {
    width: 85vw;
  }
  .coming_soon_body{
    width: 85vw;
  }
}

@media (max-width: 388px) {
  .coming_soon_body{
    width: 90vw;
  }
  .p_section{
    width: 90vw;
  }
}

@media (max-width: 370px) {
  .coming_soon_body{
    // width: 80vw;
    height: 20vh;
  }
  .p_section{
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  .coming_soon_body{
    width: 95vw;
    height: 25vh;
  }
  .p_section{
    width: 95vw;
  }
}
